@keyframes fadeaway {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

#ymap {
    box-sizing: border-box;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 80vh;
    width: 60vw;
    margin: auto;
    border-top: 1px rgba(0,0,0,0.2) solid;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100vw;
    height: 20vh;
    line-height: 4vh;
    vertical-align: top;
}

.header h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    font-size: 10vh;
    letter-spacing: .06em;
    color: rgba(0,0,0,0.7);
}

.chat {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 40vw;
    height: 80vh;
    border-right: 1px rgba(0,0,0,0.2) solid;
    border-top: 1px rgba(0,0,0,0.2) solid;
}

.messages-area {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
    background: aliceblue;
    overflow-y: auto;
    padding: 2em 0 .6em 0;
}

.messages-area__message {
    display: block;
    clear: both;
    position: relative;
    border-radius: 5px;
    padding: .6em 1em;
    margin: 0 1em 10px 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
}

.messages-area__message_player {
    float: right;
    background: #e6ffe6;
}

.messages-area__message_player::before {
    position: absolute;
    top: -1.7em;
    right: 15px;
    content: 'Я:';
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: gray;
}

.messages-area__message_computer {
    float: left;
    background: #b7dafa;
}

.messages-area__message_computer::before {
    position: absolute;
    top: -1.7em;
    left: 5px;
    content: 'Компьютер:';
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: gray;
}

.messages-area__errors {
    box-sizing: border-box;
    position: fixed;
    bottom: 15vh;
    left: 0;
    width: 40vw;
    height: 65vh;
    z-index: 1;
    background: none;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    padding-bottom: 1em;
}

.messages-area__errors__error {
    display: block;
    text-align: center;
}

.messages-area__errors__error__text {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: .3em;
    margin: .3em;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
}

.messages-area__errors__error__text_fading {
    animation: 1s fadeaway ease;
}

.input-area {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    box-shadow: 0 -2px 7px 1px rgba(0,0,0,0.2);
}

.input-area button {
    top: 1.25vw;
    border-radius: 5vh;
    height: 5vw;
    width: 5vw;
    border: none;
    outline: none;
    background: none;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
}

.input-area button:hover {
    color: rgba(0,0,0,0.8);
}

.input-area button:active {
    color: rgba(0,0,0,1);
}

.input-area progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border: none;
    outline: none;
    display: none;
}

.input-area progress::-moz-progress-bar, .input-area progress::-webkit-progress-bar {
    background: #005ce6;
}

.input-area__textfield {
    box-sizing: border-box;
    height: 15vh;
    width: 30vw;
    margin: 0;
    padding: 0 .3em;
    border: none;
    outline: none;
    font-size: 6vh;
    font-family: 'Open Sans Condensed', sans-serif;
}

.input-area__textfield::placeholder {
    color: rgba(0,0,0,0.5);
}

.input-area__voice-input {
    box-sizing: border-box;
    position: absolute;
    right: 5vw;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.input-area__submit-button {
    box-sizing: border-box;
    position: absolute;
    right: 0.2vw;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.popup__gag {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.7);
}

.popup__window {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    width: 60vw;
    height: 70vh;
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
}

.templates {
    display: none;
}

.settings {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.settings h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
    margin: 1em;
    text-align: center;
}

.settings h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 1em;
    text-align: left;
}

.settings label {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: .5em;
    text-align: left;
}

.settings input {
    margin: .1em .5em;
}

.settings input[type=checkbox] {
    margin: .8em .5em;
}

.results {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.results h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
    margin: 1em;
    text-align: center;
}

.results h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 1em;
    text-align: left;
}

.results ul {
    width: 15vw;
    display: inline-block;
    height: 30vh;
    overflow-y: auto;
}
